body {
    padding: 15px;
    background-color: #000;
    color: #fff;
    font-family: "Bitcount Grid Single", system-ui;
}
body ::selection {
    color: lightgreen;
}
.main #top-head {
    font-size: larger;
    color: aqua;
}
.main #desc {
    color: lightgray;
    font-size: small;
}
.maintainance #warning {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
